/** @format */

@import '../../../components/GlobalStyles/shared-styles.scss';

.wrapper {
  .content {
    height: 600px;

    .device-info {
      padding-right: 24px;

      // gap: 24px;

      .device-info__top {
        display: flex;
        gap: 24px;

        & > div {
          display: flex;
          flex-direction: column;
          gap: 8px;
          width: 50%;

          input,
          .select-mui {
            border-radius: 8px;
            padding: 10px 12px 10px 12px;
            width: 100%;
          }

          .select-mui {
            padding-left: 0;
          }
        }
      }

      .device-info__bottom {
        margin-top: 8px;

        & > div {
          input {
            margin-top: 8px;
            padding: 10px 12px 10px 12px;
            width: 100%;
            border-radius: 8px;
          }
        }
        .service__usage-container {
          display: flex;
          gap: 15px;
          flex-wrap: wrap;
          background: #ffffff;
          border: 1.5px solid #ffac6a;
          border-radius: 8px;
          padding: 10px 12px 10px 12px;
          .service__usage-item {
            gap: 10px;
            white-space: nowrap;
            background: #ffac6a;
            box-shadow: 0px 0px 6px #e7e9f2;
            border-radius: 9px;
            color: #ffffff;
            font-weight: 600;
            font-size: 12px;
            padding: 4.5px 12px;
          }
        }
      }
    }
  }
}
